export REFRESH_SECRET=ZeHSEeXfwTLFvkoV8P1WaLs4Wu0ESZCoF4WVCRBylU3LWM2V
export JWT_SECRET=45H7Jjb5j140xpgBDKJ8zYkDdbqvy1zkVJgHed6I2DR7Vs51

export TEST_INVALID_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Imx1a2VzaGF5IiwiaWQiOiJzb21lX2lkIiwiYXV0aG9yaXRpZXMiOlsiQURNSU4iXX0.M4FslieVYxJwUoNyARj6D7ShCYqgArZs8DlEDyIkabM
export TEST_VALID_ADMIN_JWT="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjEyMzQ1Njc4OTAiLCJ1c2VybmFtZSI6IkpvaG4gRG9lIiwiYXV0aG9yaXRpZXMiOlsiQURNSU4iXSwiaXNzdWVkQXQiOiIxNDAwMDAiLCJleHBpcmVzIjoiTkVWRVIifQ.S22bSJ5vd1hOUnBbsZF69xA91orjjNPMKLOYiZljcBk"
export TEST_VALID_BASIC_JWT="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjEyMzQ1Njc4OTAiLCJ1c2VybmFtZSI6IkpvaG4gRG9lIiwiYXV0aG9yaXRpZXMiOlsiQkFTSUMiXSwiaXNzdWVkQXQiOiIxNDAwMDAiLCJleHBpcmVzIjoiTkVWRVIifQ.qO1ySEV5ZHAT_EDl6RonqKRLjUkT2zD2QDiUZgcuzZ0"
