service: route-rating-serverless

frameworkVersion: ">=1.2.0 <2.0.0"

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    layer: true

package:
  exclude:
    - ./**
  include:
    - ./api/**

x-common-lambda-env: &common-lambda-env
  JWT_SECRET: ${env:JWT_SECRET}
  REFRESH_SECRET: ${env:REFRESH_SECRET}
  DATABASE_URL: ${env:DATABASE_URL}
  DATABASE_USERNAME: ${env:DATABASE_USERNAME}
  DATABASE_PASSWORD: ${env:DATABASE_PASSWORD}
  LOG: TRUE

x-common-lambda-properties: &common-lambda-properties
  layers:
    - { Ref: PythonRequirementsLambdaLayer }

provider:
  name: aws
  runtime: python3.7
  region: ${opt:region, 'us-east-2'}
  stage: ${opt:stage, 'dev'}
  stackName: route-rating-serverless
  versionFunctions: true
  role: arn:aws:iam::816188110262:role/LambdaRole
  memorySize: 512
  tags:
    service: route-rating-serverless

functions:
  BasicAuth:
    name: ${self:provider.stage}-${self:service}-basic-auth
    <<: *common-lambda-properties
    environment:
      <<: *common-lambda-env
    handler: api/handlers/auth_handler.basic_auth_handler
    tags:
      service: auth-api
    events:
      - http:
          path: auth/basic
          method: post
  AdminAuth:
    name: ${self:provider.stage}-${self:service}-admin-auth
    <<: *common-lambda-properties
    environment:
      <<: *common-lambda-env
    handler: api/handlers/auth_handler.admin_auth_handler
    tags:
      service: auth-api
    events:
      - http:
          path: auth/admin
          method: post
  Login:
    name: ${self:provider.stage}-${self:service}-login
    <<: *common-lambda-properties
    environment:
      <<: *common-lambda-env
    handler: api/handlers/auth_handler.login_handler
    tags:
      service: login-api
    events:
      - http:
          path: auth/login
          method: post
  CreateUser:
    name: ${self:provider.stage}-${self:service}-create-user
    <<: *common-lambda-properties
    environment:
      <<: *common-lambda-env
    handler: api/handlers/users_handler.create_user_handler
    tags:
      service: users-api
    events:
      - http:
          path: users/create
          method: post